$color-dark : #000000;
$color-white: #ffff;
$color-dark: #000;
$color-white: #fff;

$color-text: #333;
$color-text-muted: #666;
$color-text-light: rgba(0, 0, 0, 0.6);
$color-text-faded: rgba(0, 0, 0, 0.4);

$color-background: #fff;
$color-background-soft: #f0eeed;
$color-background-hero: #f2f0f1;
$color-background-gray: #f0f0f0;

$color-border: rgba(0, 0, 0, 0.1);
$color-border-dark: rgba(0, 0, 0, 0.15);

$color-danger: #ff3333;
$color-success: #01b763;
$color-rating: #ffc633;

$radius-card: 16px;
$radius-pill : 64px;

$hover-color: #e0e0e0;

$default-selected : #4F4E37;
$defaul-nonSelected1 : #314F4A;
$defaul-nonSelected2 : #31344F;